<li id="entry-<%= entry.id %>">
  <%= link_to gravatar_for(entry.user, size: 50), entry.user %>
  <span class="user"><%= link_to entry.user.name, entry.user %></span>
  <span class="title"><%= entry.title %></span>
  <span class="content"><%= entry.body %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(entry.created_at) %> ago.
    <% if current_user?(entry.user) %>
      <%= link_to "delete", entry, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
  <div class="clearfix"></div>
  <div id="comments_<%= entry.id %>">
    <% if entry.comments.any? %>
      <%= render entry.comments, entry: entry %>
    <%end%>
  </div id ="entry">
  <% if logged_in? && (current_user.following.include?(entry.user)||current_user?(entry.user)) %>
    <%= render 'shared/comment_form', entry: entry %>
  <% end %>
  <div></div>
</li>
